# R files
.Rhistory
.RData
.Ruserdata

# RStudio files
.Rproj.user/
*.Rproj

# Temporary files
*.html
*.pdf
*.log

# macOS
.DS_Store

# Python (optional if you used any Python)
__pycache__/
*.pyc

# Jupyter (only if used)
.ipynb_checkpoints/
